.content #About {
    height: 300px;
    width: 300px;

    border-radius: 60%;
    box-shadow: 0px 0px 20px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}

@media (max-width:1440px) {
  .content #About {
    height: 300px;
    width: 300px;

    border-radius: 60%;
    box-shadow: 0px 0px 20px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}
    
}

@media (max-width:1023px) {
  .page *  {
    font-size: 2rem;
  }
}

@media (max-width:425px) {
  .content div#Aboutme * {
    font-size: 1.2rem;
    height: auto;
  }

  .content img#About {
    height: 50%;
    border-radius: none;
  }
}